<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:postal_code) %></th>
      <th><%= User.human_attribute_name(:address) %></th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user_path(user)  %></td>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.postal_code %></td>
        <td><%= user.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>
